.App {
  padding: 2em;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row button {
  flex-grow: 1;
}

.column {
  flex: 0 1 auto;
  flex-direction: column;
  /* border: black 1px solid; */
  display: flex;
}

.log {
  flex: 1 1 auto;
  border: 1px solid black;
}

.deck_ui {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}
